{% load static %}
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--Fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
			rel="stylesheet"
		/>
		<!--Iconos-->
		<script
			src="https://kit.fontawesome.com/eb496ab1a0.js"
			crossorigin="anonymous"
		></script>
		<title>¿como funciona?</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

	</head>
	<body>
		<header>
			<div class="back">
				<div class="menu container">
					<a href="/index/" class="logo">Estilo Vivo</a>
					<input type="checkbox" id="menu" />
					<label for="menu">
						<img src="imagenes/menu.png" class="menu-icono" alt="" />
					</label>
					<nav class="navbar">
						<ul>
							<li><a href="/comofunciona/">¿como funciona?</a></li>
							<li><a href="/comunidad/">comunidad</a></li>
							<li><a href="/index/">inicio</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<section id="funciona">
			<a href="/cameron/" class="my-button">Cameron</a>
				<h2>Vistiendo emociones, creando tendencias.</h2>
				<div id="texto">
					<p>
						funcionamos de la manera más cómoda y facil para nuestros
						suscriptores, contando con un asistente virtual que te ayudara a lo
						largo de esta experiencia eligiendo tu oufit para ese dia tan
						especial o simplemente el diario vivir.
					</p>
				</div>
				<video
					src="{% static 'imagenes/pexels-yaroslav-shuraev-7644226 (2160p).mp4' %}" autoplay loop controls
					width="500"
					height="400">
				</video>
			</div>
		</section>
		<footer class="pie-pagina">
			<div class="grupo-1">
				<div class="box">
					<figure>
						<a href="#">
							<img src="{% static 'imagenes/logo2.png' %} " alt="Logo de SLee Dw" />
						</a>
					</figure>
				</div>
				<div class="box">
					<h2>SOBRE NOSOTROS</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?
					</p>
				</div>
				<div class="box">
					<h2>SIGUENOS</h2>
					<div class="red-social">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-instagram"></a>
					</div>
				</div>
			</div>
			<div class="grupo-2">
				<small
					>&copy; 2023 <b>Estilo Vivo</b> - Todos los Derechos
					Reservados.</small
				>
			</div>
		</footer>
	</body>
</html>
