body{
  
}
.inicioSpadre{
  width:100%;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.inicioSesion{
  grid-column:2/3;
  grid-row:2/3;
}
.inicioSesion label,input{
  width:100%;
  margin-bottom:2%;
  margin-top:2%;
}
.inicioSesion button{
  position:absolute;
  left:45%;
  right:45%;
}
.texto{
  grid-column:2/3;
  grid-row:1/2;
}