.contenedor_img{
  margin:5%;
  width:90%;
  display: grid;
  place-content: center;
  grid-gap: 20px;
  grid-template-rows:1fr;
  grid-template-columns:1fr 1fr 1fr 1fr;
}
.contenedor_img img{
  width:300px;
  height:400px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}
